:root {
  --md-primary-fg-color: #283593;
  --md-accent-fg-color: #00897b;
}

.md-typeset table:not([class]) {
  display: table;
  width: 100%;
}

.md-typeset code {
  overflow-wrap: anywhere;
}

.md-typeset .mermaid {
  text-align: center;
}
